<script type="text/javascript">
  $(function() {
    $('#doc-date').change(function() {
      var date = $('#doc-date').val();
      window.location = '<%= sap_waybills_url %>?date=' + date;
    });
  });
</script>
<div class="page-header">
  <h2>საქონლის მოძრაობა <small>ზედნადებთან დაკავშირებული დოკუმენტები</small></h2>
</div>
<div class="well">
  თარიღი<br>
  <input id="doc-date" type="text" class="datepicker span2" value="<%= @date.strftime('%d-%b-%Y') %>" >
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('refresh', 'სინქრონიზაცია'), sap_sync_waybills_url, :class => :btn, :method => :post, :confirm => 'ნამდვილად გინდათ სინქრონიზაცია?' %>
</div>
<%= render :partial => 'sap/waybills/list' %>