<p>მუშაობის დასაწყებად გთხოვთ გაიაროთ ავტორიზაცია.
თუ არ გაქვთ მომხმარებელი ან პაროლი, დაუკავშირდით ადმინისტრაციას.</p>
<hr>
<div class="center">
  <%= link_to 'სისტემაში შესვლა &rarr;'.html_safe, login_url, :class => ['btn', 'btn-success'] %>
</div>