<div class="page-header">
  <h2>პაროლის შეცლა</h2>
</div>
<p class="muted">პაროლის შესაცვლელად შეიყვანეთ ახალი პაროლი და მისი დადასტურება.</p>
<%= simple_form_for @user, :url => password_url, :html => {:class => 'form-horizontal'} do |f| -%>
  <%= f.input :password, :label => 'პაროლი' %>
  <%= f.input :password_confirmation, :label => 'პაროლის დადასტურება' %>
  <div class="form-actions">
    <%= f.button :submit, 'პაროლის შეცვლა', :class => 'btn-primary' %>
  </div>
<% end -%>